.features{
    margin: 0 1rem 5rem 1rem;
}


.feature__click{
    background: var(--light-pink-gradient);
    border-radius: 10px;
    height: 7.5rem;
}

.feature__item{
    position: relative;
    background: #FFFFFF;
    height: 16.1875rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2.375rem;

}

.feature__icon{
    position: absolute;
    bottom: 220px;
    left: 28px;

}

.feature__description{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}


.description{
    margin: 0;
    /* padding-top: 1.875rem; */
    /* padding-bottom: 1.75rem; */
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    font-size: 1rem;
    line-height: 1.75rem;

}


section h2{
    margin: 0;
    padding-top: 2rem;
    padding-left: 1.75rem;
    color: white;
    padding-bottom: 2rem;
}

section h3{
    margin: 0;
    padding-top: 1.875rem;
    padding-bottom: 1.75rem;
    padding-left: 1.75rem;
}



@media screen and  (min-width: 48rem) {

    /*
    .feature__grid{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    } 

    */

    .feature__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0.6875rem;
        grid-row-gap: 3.5rem;
    }

    .features{
        margin: 0 2.5rem 5.375rem 2.5rem;
    }

    .feature__click{
        height: 16.1875rem;
        width: 21.1875rem;
    }

    .feature__item{
        position: relative;
        background: #FFFFFF;
        height: 16.1875rem;
        width: 21.1875rem;
        border-radius: 10px;
        margin-top: 0;
        margin-bottom: 0;
    
    }
    
}

@media screen and (min-width: 64rem) {
    .feature__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.6875rem;
        grid-row-gap: 3.5rem;
    }

    

    .feature__click{
        height: 16.1875rem;
        width: 100%;
    }

    .feature__item{
        position: relative;
        background: #FFFFFF;
        height: 16.1875rem;
        width: 100%;
        border-radius: 10px;
        margin-top: 0;
        margin-bottom: 0;
    
    }

    .feature__item p{
        margin: 0;
        padding-top: 1.875rem;
        padding-bottom: 1.75rem;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }

    section h3 {
        margin: 0;
        padding-top: 4.375rem;
        padding-bottom: 0;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }

    .get_started{
        color: var(--light-pink-gradient);
        margin: 0;
        padding: 0 1.75rem;
    }

    .description{
        margin: 0;
        /* padding-top: 1.875rem; */
        /* padding-bottom: 1.75rem; */
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        font-size: 1.125rem;
        line-height: 1.75rem;

    
    }

    

    
}

@media screen and (min-width: 69.5625rem) {

    .feature__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1.875rem;
        grid-row-gap: 5rem;
    }

    .features{
        margin: 0 auto 8.75rem auto;
    }

    .feature__item{
        position: relative;
        background: #FFFFFF;
        height: 20.375rem;
        width: 100%;
        border-radius: 10px;
        margin-top: 0;
        margin-bottom: 0;
    
    }

    .feature__click{
        height: 20.375rem;
        width: 100%;
    }

    .feature__icon{
        position: absolute;
        bottom: 286px;
        left: 28px;
    
    }

    .get_started{
        margin: 0;
        padding: 0 1.75rem;
    }

    .description{
        margin: 0;
        /* padding-top: 1.875rem; */
        /* padding-bottom: 1.75rem; */
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        font-size: 1.125rem;
        line-height: 1.75rem;

    
    }


    
}



