:root{
    --blue-pink: linear-gradient(#4851FF, #F02AA6);
    --light-pink-gradient: linear-gradient(#FF6F48, #F02AA6);
    --dark-blue: #13183F;
}

html{
    font-size: 100%;
    box-sizing: border-box;
}


*, *::before, *::after{
    box-sizing: inherit;
}

a, a:visited, a:hover{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(#FFFFFF, #F0F1FF);
    font-size: 1rem;
    line-height: 1.75rem;
}

.container{
    max-width: 69.5625rem;
    margin: auto;
}

.flex-jc-sb{
    display: flex;
    justify-content: space-between;
}

.flex-jc-c{
    display: flex;
    justify-content: center;
}
.flex-ai-c{
    display: flex;
    align-items: center;
}

button, .button{
    padding: 1.1875rem 1.9375rem;
    border-radius: 50px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    background: var(--light-pink-gradient);
    font-size: 1rem;
    display: inline-block;
}


