.skills__text{
    margin: 0 1rem 0 1rem;
}

.skills__text h1{
    color: #13183f;
}

.skill__image{

    margin: auto;
    background-image: url(/assets/image-hero-mobile.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 27.75rem;/*18.75rem*/

}

.skill_description{
    font-size: 1rem;
    line-height: 1.75rem;
}

@media screen and (min-width: 48rem) {
    .skills__text{
        padding-top: 6.25rem;
        margin: 0 1rem 0 2.5rem;
        flex: 2 0 50%;
    }
  
    .skills__container{
        display: flex;
        justify-content: space-between;
        max-height: 32.5rem;
        max-width: 48rem;        
    }

    .skill__image{
        position: relative;
        background-image: url(/assets/image-hero-tablet@2x.webp);
        background-size: cover;
        background-position: right -303px top -157px;
        min-height: 43.75rem;
        top: -20px;
        left: -56px;
        flex: 1 0 50%;

    }
    
}

@media screen and (min-width: 64rem) {
    .skills__text{
        padding-top: 6.25rem;
        margin: 0 1rem 0 2.5rem;
        flex: 0 1 50%;
    }
  
    .skills__container{
        display: flex;
        justify-content: space-between;
        max-height: 45rem;
        max-width: 64rem;        
    }

    .skill__image{
        position: relative;
        background-image: url(/assets/image-hero-tablet@2x.webp);
        background-size: cover;
        background-position: right -339px top -157px;
        min-height: 53.75rem;
        top: -20px;
        left: 0px;
        flex: 1 0 50%;

    }
    
}

@media screen and (min-width: 69.5625rem) {

    h1{
        font-size: 3.5rem;
        line-height: 4.375rem;
        margin-bottom: 3.0625rem;
    }

    .skills__text{
        padding: 10.25rem 4.25rem 0 0;
        margin: 0 1rem 0 0;
        flex: 2 0 50%;
    }   

    .skill_description{
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding-right: 4rem;
        margin-bottom: 3.0625rem;
    }

    .skills__container{
        display: flex;
        justify-content: space-between;
        max-height: 60rem;
        max-width: 69.5625rem; 
    }

    .skill__image{
        position: relative;
        background-image: url(/assets/image-hero-desktop.png);
        background-size: cover;
        background-position: right -457px top -211px;
        min-height: 70.75rem;
        top: -75px;
        left: -446px;
        flex: 1 0 100%;

    }

    
}
